@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* General */

body {
    background-color: #101113;
    color: #fff;
}

.header {
    color: #fff;
}


/* Navigation */
.container-nav {
    background-color: #1E1E1E;
}

.header-nav {
    margin: 0 auto;
    max-width: 1300px;
    height: 100px;
    padding: 30px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 45px;
}

li.nav-bar {
    display: inline-block;
    margin-right: 45px;
}

a.header-nav-text0 {
    color: #E1E1DF;
    font-weight: 600;
    font-size: 21px;
    text-decoration: underline 2px #FEDA0A;
    transition: all 0.5s ease;
}

a.header-nav-text0:hover {
    text-decoration-color: rgb(91, 185, 228);
}

a.header-nav-text1 {
    color: #878787;
    font-size: 21px;
    font-weight: 400;
    transition: all 0.5s ease;
}

a.header-nav-text1:hover {
    text-decoration: underline 2px rgb(91, 185, 228)
}

a.header-btn-talk {
    font-size: 21px;
    font-weight: 600;
    color: #000;
    background-color: #6D6D6D;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

a.header-btn-talk:hover {
    background-color: #FEDA0A;
}

/* About Me */

.header-about {
    margin: 0 auto;
    max-width: 1300px;
    height: 472px;
    padding: 30px 70px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

div.header-about-text {
    text-align: left;


}

.header-about-h1 {
    font-weight: 700;
    font-size: 44px;
    width: 650px;
    height: 170px;
    padding: 26px 50px 50px 0;
}

.header-about-name {
    color: #FEDA0A;
}

.header-about-h2 {
    color: #878787;
    font-weight: 400;
    font-size: 17px;
    width: 600px;
    height: 100px;
    margin-bottom: 50px;
}

.header-about-name0 {
    color: #a7a6a6;
    font-weight: 700;
}

/* skills */

.main-skills {
    background-color: #000;

    height: 85px;

}

.skills {
    margin: 0 auto;
    padding: 30px 70px;
    max-width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill {
    padding-left: 10px;
    font-weight: 500;
    font-size: 26px;
    list-style-image: url(/rsschool-cv/img/Logo/star.png);

}



/* Education */

.main-education {
    margin: 0 auto;
    max-width: 1300px;
    padding: 50px 70px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.Education-h2 {
    font-weight: 700;
    font-size: 52px;
    text-align: center;
    padding-bottom: 55px;
}

.education-blocks {
    display: flex;


}

.education-block {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;

    color: #878787;
    display: flex;
    width: 330px;
    height: 330px;
    margin-left: auto;
    border: 5px solid #878787;
    border-radius: 10px;
}

.icon-school {
    margin: 15px;
    width: 50px;
    height: 50px;
}

.education-block-name {

    font-weight: 500;
    font-size: 32px;
}

.education-block-text {
    margin: 15px;
    font-size: 23px;
}

/*  Code example */
.main-code-example {
    margin: 0 auto;
    max-width: 1300px;
}

.code-example-name {
    font-weight: 700;
    font-size: 52px;
    text-align: center;
    padding-bottom: 55px;
}

.code-example {
    font-weight: 400;
    font-size: 14px;
    color: #878787;
}

/* Portfolio */

.portfolio {
    margin: 0 auto;
    max-width: 1300px;
}

.portfolio-h2 {
    font-weight: 700;
    font-size: 52px;
    padding-bottom: 55px;
    text-align: center;
}

.portfolio-block {
    margin-bottom: 60px;
}

.portfolio-img {
    text-align: center;
}
.portfolio-img>img {
    max-width: 900px;
    height: auto;
    border: 6px #FEDA0A solid;
    border-radius: 25px;
}

.portfolio-text {
    padding-top: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 23px;
    transition: all 0.5s ease;
}
.portfolio-text>a {
    color: #878787;
}


.portfolio-text:hover {
    text-decoration: underline 2px #FEDA0A;
}